<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <style type="text/css">

      html,body {
          height: 100%;
      }
      #bg {
          height: 100%;
          background: #DBE2E9;
          text-align: center;
          color: black;
      }
      .no-padding {
          padding: 0 !important;
      }
      img {
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
      h1,h4 {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

  </style>

  </head>
<body>

  {% if title %}
  <title>PROYECTO MOVii - {{title}}</title>
  {% else %}
  <title>PROYECTO MOVii</title>
  {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark flex-md-row-reverse" style="background-color: crimson">
        <a class="navbar-brand" href="#">
            <img src="/static/logo_navbar.svg" width="60" height="32" class="d-inline-block" alt="">
            FRAUD DETECTION
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <span class="navbar-text font-weight-bold text-dark px-5">
                DS4A TEAM 4
            </span>
            <li class="nav-item px-3">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="report">Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user">Users</a>
            </li>
          </ul>
        </div>
      </nav>

  <div class="container-fluid no-padding">
    {% block content %}
    {% endblock %}
  </div>




</body>

</html>