{% extends "layout.html" %}
{% block content %}

<div class="container-fluid vh-85">
    <div class="row vh-100">
        <div class="col-2 vh-100" id="bg">
          <span class="navbar-text font-weight-bold text-dark px-3">
          <br/>
          <br/>
          Filtering by:
          </span>
          <br/>
          <span class="navbar-text font-weight-bold text-dark px-3">
            From:
          </span>
          <br/>
          {{startdate}}
          <br/>
          <span class="navbar-text font-weight-bold text-dark px-3">
            To:
          </span>
          <br/>
          {{enddate}}
          <br/>
          <br/>
          <br/>
          <br/>
          <span class="navbar-text font-weight-bold text-dark px-3">
          Product:
          </span> 
          <br/>
          {{producto}}
          <br/>
          <br/>
          <br/>
          <span class="navbar-text font-weight-bold text-dark px-3">
          </span>
          <br/>
          <br/>
          <br/>
          <span class="text-dark">
          <br/>
      </div>
      <div class="col-8">
        <h4>Summary</h4>
        <div id='chart1' class='chart'”>
          <script type='text/javascript'>
            var graph0 = {{graph0 | safe}};
            Plotly.plot('chart1',graph0,{});
          </script>
        </div>
        <div>
          <i>
            According to the filters applied, the table shows the anomalous behavior by by by-product, number of transactions, abnormality score and total mobilized. The user is suggested to take into account the displayed by-products to reduce the sources of anomalies. For your reference, there were {{filtered_anomalies}} anomalous behaviors in {{deltaday}}.
          </i>
        </div>
      </div>
    </div>
</div>

{% endblock %}