{% extends "layout.html" %}
{% block content %}

<div class="container-fluid vh-100">
    <div class="row vh-100">
        <div class="col-2 vh-100" id="bg">
          <span class="navbar-text font-weight-bold text-dark px-3">
          <br/>
          <br/>
          Filtered by:
          </span>
            <!-- Navigation links in sidebar-->
              <br/>
              <br/>
              <br/>
              Start: {{session['startdate']}}
              <br/>
              <br/>
              <br/>
              End: {{session['enddate']}}
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
            <span class="text-dark">
              Product
              </span>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <span class="text-dark">
              <br/>
              <br/>
              Sub product
              </span>
              <br/>
            <br/>
            <br/>
            
        </div>
        <main>
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xm-12">
                <div class="ml-auto mr-auto">
                    <h1>Completar con los otros filtros . . .</h1>
                    <div id='chart1' class='chart'”></div>
                    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                    <script type='text/javascript'>
                        var graph0 = {{graph0 | safe}};
                        Plotly.plot('chart1',graph0,{});
                    </script>
                    <div id='chart2' class='chart'”></div>
                    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                    <script type='text/javascript'>
                        var graph1 = {{graph1 | safe}};
                        Plotly.plot('chart2',graph1,{});
                    </script>

                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
{% endblock %}