{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-2" id="bg">
        <br/>

          <span>
            <div>
              FIRST, VERIFY USER:
            </div>
            <br/>
          <form class="'form-inline my--2 my-lg-0" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search user . . ." name="q">
            <br>
            <br/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="Submit">Verify</button>
          </form>
          <br/>
          <br/>
          </span>    
          <form class= "mr-sm-2" action="/user_summary_report" method="POST" name="my-form">
            <p>ENTER A VALID USER ID:</p>
            <input class="form-control mr-sm-2" type="search" placeholder="User ID . . ." name="su">
            <br/>
            <br/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="Submit">Submit</button>
          </form>
        </div>
      <div class="col-10">
        <i><h4>The total number of users with anomalous behavior corresponds to {{account1}} of the total number of users registered in Movii.<h4></i>
          <div id='chart2' class='chart'>
            <script type='text/javascript'>
              var graph0 = {{graph0 | safe}};
              Plotly.plot('chart2',graph0,{});
            </script>
          </div>
          <div class="col-10">
            <i><h4>The total number of transactions with anomalous behavior corresponds to {{account2}} of the total number of transactions registered in Movii.<h4></i>
              <div id='chart1' class='chart'>
                <script type='text/javascript'>
                  var graph1 = {{graph1 | safe}};
                  Plotly.plot('chart1',graph1,{});
                </script>
              </div>
          </div>

      </div>
    </div>
</div>
{% endblock %}