{% extends "layout.html" %}
{% block content %}

<div class="container-fluid vh-85">
    <div class="row vh-100">
        <div class="col-2 vh-100" id="bg">
          <span class="navbar-text font-weight-bold text-dark px-3">
          <br/>
          <br/>
          USER ID:
          </span>
          <!-- Navigation links in sidebar-->
          <br/>
          <br/>
          <br/>
          Usuario: {{id_user}}
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>

          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
      </div>
      <div class="col-10">
        <h4>Aqui aquello</h4>
      </div>
    </div>
</div>

{% endblock %}