{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-2" id="bg">
        <br/>

          <span>
            <div>
              FIRST, VERIFY USER:
            </div>
            <br/>
          <form class="'form-inline my--2 my-lg-0" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search user . . ." name="q">
            <br>
            <br/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="Submit">Verify</button>
          </form>
          <br/>
          <br/>
          </span>    
          <form class= "mr-sm-2" action="/user_summary_report" method="POST" name="my-form">
            <p>ENTER A VALID USER ID:</p>
            <input class="form-control mr-sm-2" type="search" placeholder="User ID . . ." name="su">
            <br/>
            <br/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="Submit">Submit</button>
          </form>
        </div>
      <div class="col-10">
        <h1> </h1>
        <img style="text-align: left;" src="{{url_for('static', filename='left_arrow.png')}}" width="100" height="50"/>
        <h5>Change this!:</h5>

      </div>
    </div>
</div>
{% endblock %}